.formInputs{
  margin-top: 50px;
  background-color:#eee;
  border:1px solid #ccc;
}

.crontab.disabled {
  background-color: white;
}


.pre{
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #D3CACA;
  display: inline-block;
  font-family: arial;
  font-size: 13px;
  font-weight: bold;
  line-height: 26px;
  padding: 5px 8px;
  width: 930px;
  overflow-x: auto;
}


.success {
  background-color: #D4EDDA;
}
