<form [formGroup]="form">
  <div class="col-md-12">
    <div class="container-fluid">
      <div class="row">

        <app-minutes [parent]="form"></app-minutes>
<!--        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 box-item" style="margin-left: 80px;">-->
<!--          <div class="row box-item-detail" formGroupName="hours">-->
<!--            <div class="col-md-12" style="text-align: center">-->
<!--              <label class="control-label cronTitle">-->
<!--                <span style="font-weight: bolder; color: #ED2D2D;font-size: large">-->
<!--                Hours-->
<!--              </span>-->
<!--              </label>-->
<!--            </div>-->
<!--            <div class="col-6">-->
<!--              <div class="col-md-12">-->
<!--                <div class="c-radio">-->
<!--                  <label tooltip="*">-->
<!--                    <input type="radio" (change)="onHoursRadio()" formControlName="hours" id="EveryOre" name="hours"-->
<!--                           value="*" [checked]="true"/>-->
<!--                    <span class="fa fa-circle"></span>Every</label>-->
<!--                </div>-->
<!--              </div>-->

<!--              <div class="col-md-12">-->
<!--                <div class="c-radio">-->
<!--                  <label tooltip="*/2">-->
<!--                    <input type="radio" (change)="onHoursRadio()" formControlName="hours" id="oreOdd" name="hours"-->
<!--                           value="*/2"/>-->
<!--                    <span class="fa fa-circle"></span>Odd</label>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-md-12">-->
<!--                <div class="c-radio">-->
<!--                  <label tooltip="1-23/2">-->
<!--                    <input type="radio" (change)="onHoursRadio()" formControlName="hours" id="oreEven" name="hours"-->
<!--                           value="1-23/2"/>-->
<!--                    <span class="fa fa-circle"></span>Even</label>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-md-12">-->
<!--                <div class="c-radio">-->
<!--                  <label tooltip="*/6">-->
<!--                    <input type="radio" (change)="onHoursRadio()" formControlName="hours" id="Every6Ore" name="hours"-->
<!--                           value="*/6"/>-->
<!--                    <span class="fa fa-circle"></span>Every 6</label>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-md-12">-->
<!--                <div class="c-radio">-->
<!--                  <label tooltip="*/12">-->
<!--                    <input type="radio" (change)="onHoursRadio()" formControlName="hours" id="Every12Ore" name="hours"-->
<!--                           value="*/12"/>-->
<!--                    <span class="fa fa-circle"></span>Every 12</label>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-6">-->
<!--              <div class="col-md-12">-->
<!--                <div class="c-radio">-->
<!--                  <label>-->
<!--                    <input type="radio" [checked]="isRangeHours" disabled/>-->
<!--                    <span class="fa fa-circle"></span>Range</label>-->
<!--                  <select multiple formControlName="range" class="custom-select" style="height: 200pt; width: 80pt">-->
<!--                    <option-->
<!--                      *ngFor="let count of listOre"-->
<!--                      (click)='onHoursRange()'-->
<!--                      value="{{count}}">-->
<!--                      {{count | number:'2.0'}}-->
<!--                    </option>-->
<!--                  </select>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 box-item" style="margin-left: 80px;">-->
<!--          <div class="row box-item-detail" formGroupName="days">-->
<!--            <div class="col-md-12" style="text-align: center">-->
<!--              <label class="control-label cronTitle">-->
<!--                <span style="font-weight: bolder; color: #ED2D2D;font-size: large">-->
<!--                Days-->
<!--              </span>-->
<!--              </label>-->
<!--            </div>-->

<!--            <div class="col-6">-->

<!--              <div class="col-md-12">-->
<!--                <div class="c-radio">-->
<!--                  <label tooltip="*">-->
<!--                    <input type="radio" (change)="onDaysRadio()" formControlName="days" id="EveryGiorno" name="days"-->
<!--                           value="*" [checked]="true"/>-->
<!--                    <span class="fa fa-circle"></span>Every</label>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-md-12">-->
<!--                <div class="c-radio">-->
<!--                  <label tooltip="*/2">-->
<!--                    <input type="radio" (change)="onDaysRadio()" formControlName="days" id="giorniOdd" name="days"-->
<!--                           value="*/2"/>-->
<!--                    <span class="fa fa-circle"></span>Odd</label>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-md-12">-->
<!--                <div class="c-radio">-->
<!--                  <label tooltip="1-31/2">-->
<!--                    <input type="radio" (change)="onDaysRadio()" formControlName="days" id="giorniEven" name="days"-->
<!--                           value="1-31/2"/>-->
<!--                    <span class="fa fa-circle"></span>Even</label>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-md-12">-->
<!--                <div class="c-radio">-->
<!--                  <label tooltip="*/5">-->
<!--                    <input type="radio" (change)="onDaysRadio()" formControlName="days" id="Every5Giorni" name="days"-->
<!--                           value="*/5"/>-->
<!--                    <span class="fa fa-circle"></span>Every 5</label>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-md-12">-->
<!--                <div class="c-radio">-->
<!--                  <label tooltip="*/10">-->
<!--                    <input type="radio" (change)="onDaysRadio()" formControlName="days" id="Every10Giorni" name="days"-->
<!--                           value="*/10"/>-->
<!--                    <span class="fa fa-circle"></span>Every 10</label>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-md-12">-->
<!--                <div class="c-radio">-->
<!--                  <label tooltip="*/15">-->
<!--                    <input type="radio" (change)="onDaysRadio()" formControlName="days" id="Every15Giorni" name="days"-->
<!--                           value="*/15"/>-->
<!--                    <span class="fa fa-circle"></span>Every 15</label>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-6">-->
<!--              <div class="col-md-12">-->
<!--                <div class="c-radio">-->
<!--                  <label>-->
<!--                    <input type="radio" [checked]="isRangeDays" disabled/>-->
<!--                    <span class="fa fa-circle"></span>Range</label>-->
<!--                  <select multiple formControlName="range" class="custom-select" style="height: 200pt; width: 80pt">-->
<!--                    <option-->
<!--                      *ngFor="let count of listGiorni"-->
<!--                      (click)='onDaysRange()'-->
<!--                      value="{{count}}">-->
<!--                      {{count | number:'2.0'}}-->
<!--                    </option>-->
<!--                  </select>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 box-item" style="margin-left: 80px;">-->
<!--          <div class="row box-item-detail" formGroupName="months">-->
<!--            <div class="col-md-12" style="text-align: center">-->
<!--              <label class="control-label cronTitle">-->
<!--                <span style="font-weight: bolder; color: #ED2D2D;font-size: large">-->
<!--                Months-->
<!--              </span>-->
<!--              </label>-->
<!--            </div>-->

<!--            <div class="col-6">-->
<!--              <div class="col-md-12">-->
<!--                <div class="c-radio">-->
<!--                  <label tooltip="*">-->
<!--                    <input type="radio" (change)="onMonthsRadio()" formControlName="months" id="EveryMese" name="months"-->
<!--                           value="*" [checked]="true"/>-->
<!--                    <span class="fa fa-circle"></span>Every</label>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-md-12">-->
<!--                <div class="c-radio">-->
<!--                  <label tooltip="*/2">-->
<!--                    <input type="radio" (change)="onMonthsRadio()" formControlName="months" id="mesiOdd" name="months"-->
<!--                           value="*/2"/>-->
<!--                    <span class="fa fa-circle"></span>Odd</label>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-md-12">-->
<!--                <div class="c-radio">-->
<!--                  <label tooltip="1-11/2">-->
<!--                    <input type="radio" (change)="onMonthsRadio()" formControlName="months" id="mesiEven"-->
<!--                           name="months" value="1-11/2"/>-->
<!--                    <span class="fa fa-circle"></span>Even</label>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-md-12">-->
<!--                <div class="c-radio">-->
<!--                  <label tooltip="*/4">-->
<!--                    <input type="radio" (change)="onMonthsRadio()" formControlName="months" id="Every4Mesi" name="months"-->
<!--                           value="*/4"/>-->
<!--                    <span class="fa fa-circle"></span>Every 4</label>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-md-12">-->
<!--                <div class="c-radio">-->
<!--                  <label tooltip="*/6">-->
<!--                    <input type="radio" (change)="onMonthsRadio()" formControlName="months" id="Every6Mesi" name="months"-->
<!--                           value="*/6"/>-->
<!--                    <span class="fa fa-circle"></span>Every 6</label>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-6">-->
<!--              <div class="col-md-12">-->
<!--                <div class="c-radio">-->
<!--                  <label>-->
<!--                    <input type="radio" [checked]="isRangeMonths" disabled/>-->
<!--                    <span class="fa fa-circle"></span>Range</label>-->
<!--                  <select multiple formControlName="range" class="custom-select" style="height: 200pt; width: 80pt">-->
<!--                    <option value="1" (click)='onMonthsRange()'>Gennaio</option>-->
<!--                    <option value="2" (click)='onMonthsRange()'>Febbraio</option>-->
<!--                    <option value="3" (click)='onMonthsRange()'>Marzo</option>-->
<!--                    <option value="4" (click)='onMonthsRange()'>Aprile</option>-->
<!--                    <option value="5" (click)='onMonthsRange()'>Maggio</option>-->
<!--                    <option value="6" (click)='onMonthsRange()'>Giugno</option>-->
<!--                    <option value="7" (click)='onMonthsRange()'>Luglio</option>-->
<!--                    <option value="8" (click)='onMonthsRange()'>Agosto</option>-->
<!--                    <option value="9" (click)='onMonthsRange()'>Settembre</option>-->
<!--                    <option value="10" (click)='onMonthsRange()'>Ottobre</option>-->
<!--                    <option value="11" (click)='onMonthsRange()'>Novembre</option>-->
<!--                    <option value="12" (click)='onMonthsRange()'>Dicembre</option>-->
<!--                  </select>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 box-item" style="margin-left: 80px;">-->
<!--          <div class="row box-item-detail" formGroupName="weekday">-->
<!--            <div class="col-md-12" style="text-align: center">-->
<!--              <label class="control-label cronTitle">-->
<!--                <span style="font-weight: bolder; color: #ED2D2D;font-size: large">-->
<!--                Week Days-->
<!--              </span>-->
<!--              </label>-->
<!--            </div>-->

<!--            <div class="col-6">-->
<!--              <div class="col-md-12">-->
<!--                <div class="c-radio">-->
<!--                  <label tooltip="*">-->
<!--                    <input type="radio" (change)="onWeekRadio()" formControlName="weekday"-->
<!--                           id="EveryGiornoSett"  name="weekday" value="*" [checked]="true"/>-->
<!--                    <span class="fa fa-circle"></span>Every</label>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-md-12">-->
<!--                <div class="c-radio">-->
<!--                  <label tooltip="1-5">-->
<!--                    <input type="radio" (change)="onWeekRadio()" formControlName="weekday"-->
<!--                           id="daLunVen"  name="weekday" value="1-5" />-->
<!--                    <span class="fa fa-circle"></span>Mon-Fri</label>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-md-12">-->
<!--                <div class="c-radio">-->
<!--                  <label tooltip="0,6">-->
<!--                    <input type="radio" (change)="onWeekRadio()" formControlName="weekday"-->
<!--                           id="sabEDom"  name="weekday" value="0,6" />-->
<!--                    <span class="fa fa-circle"></span>Sat-Sun</label>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-6">-->
<!--              <div class="col-md-12">-->
<!--                <div class="c-radio">-->
<!--                  <label>-->
<!--                    <input type="radio" [checked]="isRangeWeek" disabled />-->
<!--                    <span class="fa fa-circle"></span>Range</label>-->
<!--                  <select  multiple formControlName="range" class="custom-select" style="height: 200pt; width: 80pt">-->
<!--                    <option value="0" (click)='onWeekRange()'>Sunday</option>-->
<!--                    <option value="1" (click)='onWeekRange()'>Monday</option>-->
<!--                    <option value="2" (click)='onWeekRange()'>Tuesday</option>-->
<!--                    <option value="3" (click)='onWeekRange()'>Wednesday</option>-->
<!--                    <option value="4" (click)='onWeekRange()'>Thursday</option>-->
<!--                    <option value="5" (click)='onWeekRange()'>Friday</option>-->
<!--                    <option value="6" (click)='onWeekRange()'>Saturday </option>-->
<!--                  </select>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" style="margin-left: 80px;text-align: center;">-->
<!--          <button (click)="onClick()" class="mr-1 mb-1 btn-lg btn btn btn-primary" type="button"-->
<!--                  style="margin-top: 50%">Generate Cron Tab-->
<!--          </button>-->
<!--        </div>-->

      </div>
    </div>
  </div>
</form>
