<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="container">
    <br>
    <div class="alert alert-success" role="alert" *ngIf="getCronTab() !== ''">
      <h4><span style="color: black">Cron Job Generated (you may copy &amp; paste it to your crontab):</span></h4>
      <div class="form-group">
        <input style="background-color: white;" type="text" disabled formControlName="cronTab" class="form-control"
               id="cronTab" placeholder="Cron Tab">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <app-minutes [parent]="form"></app-minutes>
      </div>
      <div class="col-md-4">
        <app-hours [parent]="form"></app-hours>
      </div>
      <div class="col-md-4">
        <app-days [parent]="form"></app-days>
      </div>
      <div class="col-md-4">
        <app-months [parent]="form"></app-months>
      </div>
      <div class="col-md-4">
        <app-week-days [parent]="form"></app-week-days>
      </div>
    </div>
    <app-command [parent]="form"></app-command>
    <app-command-handle [parent]="form"></app-command-handle>
    <br>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Generate Cron Tab</button>
    </div>
  </div>
</form>


