<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="#">Cron Tab Generator</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<body>
<div id="body">
  <div class="container">
    <div class="row-fluid margin-bottom-20">
      <div class="span12">
        <app-cron-tab></app-cron-tab>
      </div>
    </div>
  </div>
</div>
</body>
