<div class="card my-4" [formGroup]="parent">
  <h5 class="card-header text-center">Week Days</h5>
  <div class="card-body">
    <div class="row" formGroupName="weekday">
      <div class="col-lg-6">
        <div class="col-xs-12">
          <div class="custom-control custom-radio">
            <input (change)="onRadio()" type="radio" formControlName="weekday" id="everyWeekDay" name="weekday" value="*"
                   class="custom-control-input">
            <label class="custom-control-label" for="everyWeekDay">Every Day</label>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="custom-control custom-radio">
            <input (change)="onRadio()" type="radio" formControlName="weekday" id="monToFri" name="weekday" value="1-5"
                   class="custom-control-input">
            <label class="custom-control-label" for="monToFri">Mon to Fri</label>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="custom-control custom-radio">
            <input (change)="onRadio()" type="radio" formControlName="weekday" id="weekEnd" name="weekday" value="0,6"
                   class="custom-control-input">
            <label class="custom-control-label" for="weekEnd">Sun and Sat</label>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="custom-control custom-radio">
          <input type="radio" [checked]="isRange"  disabled class="custom-control-input">
          <label class="custom-control-label">Range</label>
        </div>
        <select multiple class="form-control" formControlName="range" name="range" id="exampleFormControlSelect2" style="height: 110pt">
          <option
            *ngFor="let day of listWeekDays"
            value="{{day.id}}"
            (click)="onRange()"
          >
            {{day.name}}
          </option>
        </select>
      </div>
    </div>
  </div>
</div>





