<div class="card" style="width:400px" [formGroup]="parent">
  <div class="card-header text-center bg-dark text-white">
    Days of the week
  </div>
  <div class="card-body">
    <div class="row" formGroupName="weekday">
      <div class="col-md-6">
        <div class="row">
          <div class="col-xs-12">
            <div class="custom-control custom-radio">
              <input (change)="onRadio()" type="radio" formControlName="weekday" id="everyWeekDay" name="weekday" value="*"
                     class="custom-control-input">
              <label class="custom-control-label" for="everyWeekDay">Every Day</label>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="custom-control custom-radio">
              <input (change)="onRadio()" type="radio" formControlName="weekday" id="monToFri" name="weekday" value="1-5"
                     class="custom-control-input">
              <label class="custom-control-label" for="monToFri">Monday to Friday</label>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="custom-control custom-radio">
              <input (change)="onRadio()" type="radio" formControlName="weekday" id="weekEnd" name="weekday" value="0,6"
                     class="custom-control-input">
              <label class="custom-control-label" for="weekEnd">Sunday and Saturday</label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="form-group">
            <div class="custom-control custom-radio">
              <input type="radio" [checked]="isRange"  disabled class="custom-control-input">
              <label class="custom-control-label">Range</label>
            </div>
            <select multiple class="form-control" formControlName="range" name="range" id="exampleFormControlSelect2" style="height: 200pt; width: 90pt">
              <option
                *ngFor="let day of listWeekDays"
                value="{{day.id}}"
                (click)="onRange()"
              >
                {{day.name}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
