<div class="card" style="width:400px" [formGroup]="parent">
  <div class="card-header text-center bg-dark text-white">
    Days of the week
  </div>
  <div class="card-body">
    <div class="row" formGroupName="weekday">
      <div class="col-md-6">
        <div class="row">
          <div class="col-xs-12">
            <div class="custom-control custom-radio">
              <input type="radio" formControlName="weekday" id="everyWeekDay" name="weekday" value="*"
                     class="custom-control-input">
              <label class="custom-control-label" for="everyWeekDay">Every Day</label>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="custom-control custom-radio">
              <input type="radio" formControlName="weekday" id="monToFri" name="weekday" value="1-5"
                     class="custom-control-input">
              <label class="custom-control-label" for="monToFri">Monday to Friday</label>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="custom-control custom-radio">
              <input type="radio" formControlName="weekday" id="weekEnd" name="weekday" value="0,6"
                     class="custom-control-input">
              <label class="custom-control-label" for="weekEnd">Sunday and Saturday</label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="form-group">
            <div class="custom-control custom-radio">
              <input type="radio" formControlName="weekday" id="rangeWeekDays" name="weekday"
                     class="custom-control-input">
              <label class="custom-control-label" for="rangeWeekDays">Range</label>
            </div>
            <select multiple formControlName="weekday" class="custom-select" style="height: 200pt; width: 90pt">
              <option value="0">Sunday</option>
              <option value="1">Monday</option>
              <option value="2">Tuesday</option>
              <option value="3">Wednesday</option>
              <option value="4">Thursday</option>
              <option value="5">Friday</option>
              <option value="6">Saturday</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
