<div class="card" style="width:400px">
  <div class="card-header text-center bg-dark text-white">
    Minutes
  </div>
  <div class="card-body">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-xs-12">
              <div class="btn-group btn-group-vertical" data-toggle="buttons">
                <label class="btn active">
                  <input type="radio" name='gender1' checked><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i> <span>  Male</span>
                </label>
                <label class="btn">
                  <input type="radio" name='gender1'><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span> Female</span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-xs-12">
              <div class="btn-group btn-group-vertical" data-toggle="buttons">
                <label class="btn active">
                  <input type="radio" name='gender1' checked><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i> <span>  Male</span>
                </label>
                <label class="btn">
                  <input type="radio" name='gender1'><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span> Female</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
